.h5 {
  color: white;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.titleLeaderbord {
  display: flex;
  color: rgb(255, 255, 255);
  font-size: 23px;  
  font-family: StratosSkyeng;
  font-weight: 200;
}

.startLink {
  display: flex;
  justify-content: center;
  color: azure;
  font-family: StratosSkyeng;
  font-size: 23px;
  text-decoration: none
}

.ul {
  list-style-type: upper-roman;
  padding-left: 340px;
  font-size: 20px;
  padding-top: 40px;
  color: white;
}

.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.tr, .trBody {
  background: white;
  color: gray;
  font-family: StratosSkyeng;
  border-radius: 10px;
  display: grid;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.trBody {
  color: black
}

table {
  width: 100%;
}

.startBtn {
  background: #9ed870;
  font-family: StratosSkyeng;
  border-radius: 10px;
  border: none; 
  outline: none;
  padding: 5px;
}

.img {
  width: 20px;
  height: 20px;
}

.trImgs {
  width: 100px;
}